@import url('https://fonts.googleapis.com/css2?family=Ga+Maamli&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ga+Maamli&family=Oswald:wght@200..700&family=Play:wght@400;700&display=swap');

.image img {
    margin-top: 120px;
    margin-left: 80px;
    height: 700px;
    /* border-radius: 100px; */
}

.content {
    padding: 20px;
    margin-top: 250px;
    color: white;

}

.content .namesection .hi {
    font-family: "Oswald", sans-serif;
    font-size: 60px;
    color: black;
}

.content .namesection .name {
    font-family: "Oswald", sans-serif;
    font-size: 50px;
    letter-spacing: 1px;
    font-weight: 700;
}

.Typewriter {
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
    animation-name: changeColor;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    text-shadow: 1px 4px 2px rgb(59, 0, 63);

}

@keyframes changeColor {
    0% {
        color: rgb(255, 255, 255);
    }

    10% {
        color: darkblue;
    }

    20% {
        color: black;
    }

    30% {
        color: rgb(255, 255, 255);


    }

    40% {
        color: darkblue;

    }

    50% {
        color: black;


    }

    60% {
        color: rgb(255, 255, 255);
    }

    70% {
        color: darkblue;


    }

    80% {
        color: black;

    }

    90% {
        color: darkblue;


    }

    100% {
        color: rgb(248, 248, 248);
    }
}

.content .namesection .para {
    margin-top: 10px;
    font-size: 22px;
}

.about {
    margin-top: 40px;
    margin-left: 205px;
    height: 50px;
    width: 25%;
    border-radius: 20px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    font-size: 20px;
    border: 1px solid white;
}

.about1 {
    margin-top: 30px;
    margin-left: 72px;
    height: 50px;
    width: 25%;
    border-radius: 20px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    font-size: 20px;
    border: 1px solid white;
    z-index: 1;

}

.about:hover,
.about1:hover {
    background-color: rgb(0, 140, 182);
    color: rgb(255, 255, 255);
    border: none;
    outline: none;
    transition: 1s;
    border: 1px solid white;
}