@import url('https://fonts.googleapis.com/css2?family=Ga+Maamli&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ga+Maamli&family=Oswald:wght@200..700&family=Play:wght@400;700&display=swap');

.image img {
    margin-top: 150px;
    margin-left: 130px;
    border-radius: 10px 10px 50% 50%;
    height: 400px;
}

.content {
    padding: 10px;
    margin-top: 150px;
    color: white;

}

.content .namesection .hi {
    font-family: "Oswald", sans-serif;
    font-size: 50px;
}

.content .namesection .name {
    font-family: "Oswald", sans-serif;
    font-size: 40px;
    letter-spacing: 2px;
    font-weight: 600;
}

.Typewriter {
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    animation-name: changeColor;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    text-shadow: 1px 4px 2px rgb(59, 0, 63);

}
@keyframes changeColor {
    0% {
        color: rgb(0, 0, 0);
    }
    10% {
        color: rgb(74, 0, 71);
    }
    20% {
        color: rgb(96, 1, 67);
    }
    30% {
        color: rgb(123, 0, 82);
    }
    40% {
        color: rgb(148, 0, 116);
    }
    50% {
        color: rgb(130, 0, 137);
    }
    60% {
        color: rgb(134, 3, 88);
    }
    70% {
        color: rgb(208, 0, 208);
    }
    80% {
        color: rgb(87, 1, 50);
    }
    90% {
        color: rgb(59, 10, 46);
    }
    100% {
        color: rgb(242, 8, 207);
    }
}

.content .namesection .para{
    margin-top: 10px;
    font-size: 20px;
}

.about{
    margin-top: 30px;
    margin-left: 172px;
    height: 50px;
    width: 25%;
    border-radius: 20px;
    background-color: transparent;
    color:  white;
    cursor: pointer;
    font-size: 20px;
    border: 1px solid black;
}

.about1{
    margin-top: 30px;
    margin-left: 72px;
    height: 50px;
    width: 25%;
    border-radius: 20px;
    background-color: transparent;
    color:  white;
    cursor: pointer;
    font-size: 20px;
    border: 1px solid black;
    z-index: 1;
    
}

.about:hover,
.about1:hover{
    background-color: rgb(56, 0, 56);
    color: rgb(255, 255, 255);
    border: none;
    outline: none;
    transition: 1s;
    border: 1px solid white;
}
