*{
    margin: 0;
    padding: 0;
}

.box{
    /* border: 2px solid black; */
    width: 100%;
    height: 60vh;
}
.box1{
    /* border: 2px solid black; */
    width: 100%;
    height: 20vh;
    background-color: orange;
}
.box2{
    /* border: 2px solid black; */
    width: 100%;
    height: 40vh;
    display: inline-block;
}

.box3{
    /* border: 2px solid black; */
    width: 33%;
    height: 40vh;
    display: inline-block;
    background-color: red;
}

.box4{
    /* border: 2px solid black; */
    width: 33%;
    height: 40vh;
    display: inline-block;
    background-color: blue;
}

.box5{
    /* border: 2px solid black; */
    width: 33%;
    height: 40vh;
    display: inline-block;
    background-color: green;
}

@media only screen and (max-width: 992px)
{
    .box{
        width: 100%;
        height: 60vh;
    }
    .box1{
        width: 100%;
        height: 10vh;
        background-color: orange;
    }
    .box2{
        width: 100%;
        height: 50vh;
        display: inline-block;
    }
    
    .box3{
        width: 99.5%;
        height: 20vh;
        display: inline-block;
        background-color: red;
    }
    
    .box4{
        width: 49.5%;
        height: 29.5vh;
        display: inline-block;
        background-color: blue;
    }
    
    .box5{
        width: 49.5%;
        height: 29.5vh;
        display: inline-block;
        background-color: green;
    }
}

@media only screen and (max-width: 555px)

{
    .box{
        width: 100%;
        height: 60vh;
    }
    .box1{
        width: 100%;
        height: 10vh;
        background-color: orange;
    }
    .box2{
        width: 100%;
        height: 49vh;
        display: inline-block;
    }
    
    .box3{
        width: 99.5%;
        height: 10vh;
        display: inline-block;
        background-color: red;
    }
    
    .box4{
        width: 99.5%;
        height: 40vh;
        display: inline-block;
        background-color: blue;
    }
    
    .box5{
        width: 49.5%;
        height: 29.5vh;
        display: inline-block;
        background-color: green;
        display: none;
    }
}