*{
    margin: 0;
    padding: 0;
}

.box{
    border: 2px solid black;
    height: 600px;
    background: url(https://images.unsplash.com/photo-1501949997128-2fdb9f6428f1?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: center;
}

    
.box1{
    border: 2px solid black;
    height: 400px;
    width: 40%;
    background-color: whitesmoke;
    border-radius: 15px;
    box-shadow: 0px 0px 30px 0px black;

}

.box2{
    text-align: center;
    font-size: 50px;
    margin-top: 10px;
}

.box3{
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}

.box4{
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}

.box5{
    margin-left: 130px;
    font-size: 15px;
    margin-top: 10px;
}

.box6{
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}

.box7{
    margin-left: 130px;
    font-size: 15px;
    margin-top: 10px;
}

.box8{
    margin-left: 130px;
    margin-top: 10px;
    color: blue;

}

.box9{
    margin-left: 40px;
}

.box10{
    margin-top: 10px;
}

.box11{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}

.box10{
    display: flex;
}

.box12{
    font-size: 20px;
    background-color: mediumvioletred;
    border-radius: 5px;
    color: white;
}

.box13{
    color: blue;
    margin-left: 100px;
    margin-top: 20px;
}

.box15{
    display: flex;
}

.box14{
    margin-top: 20px;
    margin-left: 50px;
    font-size: 20px;
    background-color: mediumvioletred;
    border-radius: 5px;
    color: white;
    /* font-size: 10px; */
}