/* Contact.css */

.hr {
    margin: 50px  auto;
    width: 80%;
    height: 1px;
    background: #ddd;
  }
  
  .heading {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin-top: 30px;
    color: white;
    text-shadow: 5px 0px 3px rgba(0, 0, 0, 1);
  }
  
  .footer {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;      
    padding: 20px;
  }
  
  .end1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #f8f8f8;
    padding: 20px;
    border-radius: 20px;
    width: 250px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    text-decoration: none;
  }
  
  .end1 a{
    text-decoration: none;
  }
  .end1:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    background-color: rgba(0, 88, 96, 0);
    color: white;
    transition: .5s;
    transform: scale(1.2);
  }
  
  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(0, 87, 131);
    color: #fff;
    margin-bottom: 15px;
    font-size: 1.5rem;
  }
  
  .icon {
    font-size: 1.5rem;
  }
  
  h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #333;
    font-family: 'Arial', sans-serif;
  }
  
  p {
    font-size: 1rem;
    color: #555;
    font-family: 'Arial', sans-serif;
    margin: 0;
  }
  
  @media (max-width: 600px) {
    .footer {
      flex-direction: column;
      align-items: center;
    }
  
    .end1 {
      width: 80%;
      margin-bottom: 20px;
    }
  }
  