*{
    margin: 0;
    padding: 0;
}

.box{
    border: 20px solid darkslategrey;
    height: 800px;
    width: 80%;
    margin-top: 50px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}

.box1{
    border: 5px solid black;
    flex: 25%;
    background-color: aquamarine;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    padding-top: 100px;
    height: 200px;
}

.box2{
    border: 20px solid darkslategrey;
    flex: 50%;
    display: flex;
}

.box3{
    border: 5px solid black;
    flex: 25%;
    background-color: gold;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    padding-top: 100px;
}

.mid{
    border: 2px solid black;
    flex: 30%;
    background-color: blueviolet;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    padding-top: 100px;
}

.mid1{
    border: 2px solid black;
    flex: 70%;
    display: flex;
    flex-direction: column;
}

.mid2{
    border: 2px solid black;
    flex: 50%;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    padding-top: 70px;
    background-color: chartreuse;
}

.mid3{
    border: 2px solid black;
    flex: 50%;
    display: flex;
}

.mid4{
    border: 2px solid black;
    flex: 50%;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
    background-color: red;
}

.mid5{
    border: 2px solid black;
    flex: 50%;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
    background-color: cadetblue;
}
