*{
    margin: 0;
    padding: 0;
}

.box{
    border: 2px solid black;
    /* height: 600px; */
    /* background-color: aqua; */
}

.box1{
    border: 2px solid black;
    height: 100px;
    text-align: center;
    background-color: blue;
}

.box1 h2{
    font-size: 30px;
    margin-top: 30px;
}

.box2{
    border: 2px solid black;
    height: 100px;
    text-align: center;
    background-color: chartreuse;
}

.box2 h2{
    font-size: 30px;
    margin-top: 30px;
}

.box3{
    border: 2px solid black;
    height: 300px;
    display: flex;
}

.box4{
    border: 2px solid black;
    height: 300px;
    width: 30%;
    background-color: aquamarine;
    text-align: center;
}

.box4 h2{
    font-size: 30px;
    margin-top: 130px;
}

.box5{
    border: 2px solid black;
    height: 300px;
    width: 70%;
    background-color: brown;
    text-align: center;
}

.box5 h2{
    font-size: 30px;
    margin-top: 130px;
}

.box6{
    border: 2px solid black;
    height: 100px;
    text-align: center;
    background-color: cadetblue;
}

.box6 h2{
    font-size: 30px;
    margin-top: 30px;
}